params {
    samplesheet = null
    reference = null
    intervals = null
    vep_cache_dir = null
    vep_cache_version = null
    skip_annotation = false
    outdir = 'results'
}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
    time = '24h'
    errorStrategy = { task.exitStatus in [137, 143] ? 'retry' : 'terminate' }
    maxRetries = 1

    withName: RAW_READ_QC {
        cpus = 4
        memory = '8 GB'
        time = '12h'
    }

    withName: ALIGNMENT_AND_BAM_QC {
        cpus = 8
        memory = '16 GB'
        time = '24h'
    }

    withName: GERMLINE_SHORT_VARIANTS {
        cpus = 4
        memory = '16 GB'
        time = '24h'
    }

    withName: OFFLINE_VEP_ANNOTATION {
        cpus = 4
        memory = '12 GB'
        time = '24h'
    }
}

conda {
    enabled = false
    useMamba = true
}

profiles {
    conda {
        conda.enabled = true
    }

    test {
        params.skip_annotation = true
        process {
            cpus = 2
            memory = '4 GB'
            time = '2h'

            withName: RAW_READ_QC {
                cpus = 2
                memory = '4 GB'
            }

            withName: ALIGNMENT_AND_BAM_QC {
                cpus = 2
                memory = '4 GB'
            }

            withName: GERMLINE_SHORT_VARIANTS {
                cpus = 2
                memory = '4 GB'
            }
        }
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/workflow_dag.html"
}

manifest {
    name = 'Delaram-Genomics/NGS-Germline-Pipeline'
    author = 'Delaram Sherkatghannad'
    description = 'Educational reproducible germline WES short-variant workflow'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
    version = '0.1.0-alpha'
}
